const Env = {
  reCaptchaSiteKey: "6Lf5LxopAAAAALXErlTeGxlWy_x6M8RlKlJzZ4RB",
  server: document.location.protocol + "//" + document.location.hostname,
  // Public API documentation (built separately from /api-docs)
  apiDocs: "https://developers.linventaire.app",
  version: "1.3.0",
};

export default Env;
