.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

.editor-input .ql-editor {
  padding: 0 0.25em;
}

.editor-input * {
  font-family: Inter var, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.editor-input .ql-container {
  border: 0;
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  border-top: 1px solid #88888822;
}

.editor-input .ql-toolbar {
  border: 0;
  padding: 0;
}

.editor-input .ql-editor.ql-blank::before {
  left: 0.25em;
  right: 0.25em;
  font-style: normal;
}

.editor-input .ql-disabled .ql-editor.ql-blank::before {
  left: 0.0em;
  right: 0.0em;
  font-style: normal;
}

.editor-input .ql-snow.ql-toolbar button, .editor-input .ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 20px;
  padding: 1px 3px;
  width: 26px;
  opacity: 0.5;
  transition: all 200ms;
}

.editor-input .ql-toolbar button.ql-active, .editor-input .ql-toolbar button:hover {
  opacity: 1;
  color: rgb(152, 118, 85);
}

.editor-input .ql-toolbar button.ql-active .ql-stroke, .editor-input .ql-toolbar button:hover .ql-stroke {
  stroke: rgb(152, 118, 85);
}

.editor-input .ql-toolbar button.ql-active .ql-fill, .editor-input .ql-toolbar button:hover .ql-fill {
  fill: rgb(152, 118, 85);
}

.editor-input .ql-toolbar {
  margin-left: -3px;
  margin-top: -4px;
  margin-bottom: -2px;
}


.editor-input .ql-toolbar button {
  opacity: 0.5;
}

.editor-input.has-focus .ql-toolbar button, .editor-input:hover .ql-toolbar button, .editor-input .ql-toolbar button.ql-active {
  opacity: 1;
}


.editor-input.is-disabled .ql-toolbar {
  display: none;
}
.editor-input.is-disabled .ql-container {
  margin: 0 !important;
  padding: 0 !important;
}
.editor-input.is-disabled .ql-editor {
  margin: 0 !important;
  padding: 0 !important;
}

