{
  "openapi": "3.1.0",
  "info": {
    "title": "L'inventaire API",
    "version": "1.3.0",
    "description": "API de L'inventaire. Elle donne accès aux mêmes données que l'application, avec **les mêmes permissions que l'utilisateur** propriétaire de la clé.\n\n## Authentification\n\nCréez une clé depuis **Paramètres → API et développeurs** dans l'application. Chaque clé :\n\n- agit au nom de l'utilisateur qui l'a créée, avec exactement ses permissions (si ses droits changent, ceux de la clé aussi) ;\n- n'est valable que pour l'entreprise dans laquelle elle a été créée ;\n- n'est affichée qu'une seule fois, conservez-la en lieu sûr ;\n- peut être révoquée à tout moment.\n\nEnvoyez la clé dans l'en-tête `Authorization` :\n\n```bash\ncurl https://api.linventaire.app/api/developers/v1/{clientId}/whoami \\\n  -H \"Authorization: Bearer lin_xxxxxxxx\"\n```\n\nou dans l'en-tête `X-Api-Key: lin_xxxxxxxx`.\n\nCertaines actions liées au compte (connexion, facteurs d'authentification, gestion des clés API, invitations) ne sont pas accessibles avec une clé API.\n\n## Permissions et restrictions\n\n- **Permission « Accès à l'API et aux webhooks »** (`API_ACCESS`) : elle est nécessaire pour créer des clés et des webhooks, et pour qu'ils fonctionnent. Un administrateur l'accorde depuis **Paramètres → Vos collaborateurs** ; les administrateurs de l'entreprise l'ont d'office. Si elle est retirée, les clés de l'utilisateur sont refusées (`401`) et ses webhooks ne reçoivent plus rien.\n- **Restriction par adresse IP** : si l'entreprise limite l'accès à certaines adresses IP, cette limite s'applique aussi aux appels faits avec une clé API (réponse `403` hors des adresses autorisées) et aux webhooks des utilisateurs concernés, qui ne sont plus envoyés. Comme dans l'application, les administrateurs ne sont pas restreints.\n- Une clé cesse de fonctionner si son propriétaire est retiré de l'entreprise ou désactivé.\n\n## Identifiant d'entreprise\n\nToutes les routes sont préfixées par l'identifiant de l'entreprise (`clientId`), visible dans **Paramètres → API et développeurs**.\n\n## Recherche\n\nLes routes `/search` et `/count` acceptent une liste de filtres :\n\n```json\n{\n  \"query\": [\n    { \"key\": \"type\", \"values\": [{ \"op\": \"equals\", \"value\": \"invoices\" }] },\n    { \"key\": \"emit_date\", \"values\": [{ \"op\": \"range\", \"value\": [1735689600000, 1767225599000] }] },\n    { \"key\": \"query\", \"values\": [{ \"op\": \"equals\", \"value\": \"texte libre\" }] }\n  ],\n  \"options\": { \"limit\": 25, \"offset\": 0, \"index\": \"created_at\", \"asc\": false }\n}\n```\n\n- `key` : nom du champ (les champs imbriqués utilisent un point, ex. `business_address.country`). La clé spéciale `query` effectue une recherche plein texte.\n- `op` : `equals`, `regex`, `gte`, `lte` ou `range` (valeur `[min, max]`).\n- `not: true` inverse le filtre, `empty: true` recherche les valeurs vides.\n- `limit` est plafonné à 500. Les documents supprimés sont exclus sauf avec `options.deleted: true`.\n\n## Limites\n\nLes requêtes sont limitées par adresse IP. Au-delà, l'API répond `429 Too Many Requests`.\n\nL'historique de vos appels (statut, durée, contenus) est consultable pendant 30 jours dans **Paramètres → API et développeurs → Historique des appels**.\n\n## Webhooks\n\nUn webhook appelle votre serveur (`POST`, corps JSON) à chaque création, modification ou suppression d'un document. Créez-les depuis **Paramètres → API et développeurs → Webhooks**, ou avec les routes `/webhooks` de cette API.\n\n- Seuls les documents que le créateur du webhook peut lire sont envoyés (mêmes permissions que l'utilisateur).\n- Événements : `{table}.created`, `{table}.updated` (avec `previous_data`) et `{table}.deleted`, plus `ping` pour les tests.\n- Répondez avec un statut `2xx` en moins de 10 secondes. Les redirections ne sont pas suivies.\n- En cas d'échec, l'envoi est retenté après 1 min, 5 min, 15 min, 1 h, 3 h, 6 h et 12 h (8 tentatives en tout). Après 20 envois en échec d'affilée, le webhook est désactivé.\n- Un même événement peut arriver plusieurs fois ou dans le désordre : utilisez `id` pour ignorer les doublons et `data.updated_at` pour ne garder que la version la plus récente.\n- L'historique des envois (réponse reçue, nombre de tentatives) est conservé 30 jours.\n\n### Vérifier la signature\n\nChaque envoi contient l'en-tête `X-Linventaire-Signature: t={timestamp},v1={signature}` où `signature` est le HMAC SHA-256, en hexadécimal, de `{timestamp}.{corps brut}` avec le secret du webhook (`whsec_...`, affiché à la création).\n\n```js\nimport crypto from \"crypto\";\n\n// rawBody : le corps de la requête tel que reçu, avant tout parsing JSON\nexport const isValidSignature = (header, rawBody, secret) => {\n  const { t, v1 } = Object.fromEntries(header.split(\",\").map((p) => p.split(\"=\")));\n  const expected = crypto\n    .createHmac(\"sha256\", secret)\n    .update(`${t}.${rawBody}`)\n    .digest(\"hex\");\n  const recent = Math.abs(Date.now() / 1000 - Number(t)) < 5 * 60;\n  return (\n    recent &&\n    v1?.length === expected.length &&\n    crypto.timingSafeEqual(Buffer.from(v1), Buffer.from(expected))\n  );\n};\n```\n\nLes en-têtes `X-Linventaire-Event` et `X-Linventaire-Delivery` contiennent le nom de l'événement et l'identifiant de l'envoi.",
    "contact": {
      "name": "L'inventaire",
      "url": "https://linventaire.app"
    }
  },
  "servers": [
    {
      "url": "https://api.linventaire.app",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Général",
      "description": "Vérifier ses accès."
    },
    {
      "name": "Gestion des webhooks",
      "description": "Être notifié des créations, modifications et suppressions de documents, voir [Webhooks](#description/webhooks).\n\nPermission requise : `API_ACCESS`."
    },
    {
      "name": "Contacts",
      "description": "Clients, fournisseurs et personnes. Un contact peut être une entreprise ou une personne, et être rattaché à d'autres contacts (parents).\n\nTable : `contacts`."
    },
    {
      "name": "Articles",
      "description": "Catalogue de produits, services et consommables, avec leurs prix de vente et fournisseurs.\n\nTable : `articles`."
    },
    {
      "name": "Documents (devis, factures, avoirs)",
      "description": "Devis, factures, avoirs et leurs équivalents fournisseurs, différenciés par le champ `type`. Les permissions dépendent du type de document : `QUOTES_*`, `INVOICES_*`, `SUPPLIER_QUOTES_*`, `SUPPLIER_INVOICES_*`.\n\nTable : `invoices`."
    },
    {
      "name": "Stock",
      "description": "Éléments de stock (numéros de série, lots, quantités) et leur emplacement.\n\nTable : `stock_items`."
    },
    {
      "name": "Emplacements de stock",
      "description": "Entrepôts, étagères et autres emplacements de stock.\n\nTable : `stock_locations`."
    },
    {
      "name": "Services (tâches)",
      "description": "Tâches et interventions à réaliser pour vos clients.\n\nTable : `service_items`."
    },
    {
      "name": "Temps passés",
      "description": "Temps passé sur les tâches.\n\nTable : `service_times`."
    },
    {
      "name": "CRM",
      "description": "Opportunités commerciales du pipeline CRM.\n\nTable : `crm_items`."
    },
    {
      "name": "Transactions comptables",
      "description": "Écritures et paiements.\n\nTable : `accounting_transactions`."
    },
    {
      "name": "Comptes comptables",
      "description": "Plan comptable et comptes bancaires.\n\nTable : `accounting_accounts`."
    },
    {
      "name": "Étiquettes",
      "description": "Étiquettes utilisables sur la plupart des documents.\n\nTable : `tags`."
    },
    {
      "name": "Champs personnalisés",
      "description": "Définition des champs personnalisés, leurs valeurs sont stockées dans l'attribut `fields` de chaque document.\n\nTable : `fields`."
    },
    {
      "name": "Fichiers",
      "description": "Métadonnées des fichiers attachés aux documents.\n\nTable : `files`."
    },
    {
      "name": "Commentaires",
      "description": "Commentaires et événements du fil d'activité de chaque document.\n\nTable : `comments`."
    }
  ],
  "paths": {
    "/api/developers/v1/{clientId}/whoami": {
      "get": {
        "tags": [
          "Général"
        ],
        "operationId": "whoami",
        "summary": "Qui suis-je ?",
        "description": "Retourne l'utilisateur et les permissions associés aux identifiants utilisés. Pratique pour vérifier qu'une clé API fonctionne.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "responses": {
          "200": {
            "description": "Informations sur la clé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WhoAmI"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks": {
      "get": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "list_webhooks",
        "summary": "Lister les webhooks",
        "description": "Liste vos webhooks, ou ceux de toute l'entreprise avec `all=1`.\n\nLes utilisateurs ayant la permission `CLIENT_MANAGE` peuvent gérer tous les webhooks de l'entreprise, les autres uniquement les leurs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "all",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Webhook"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "create_webhook",
        "summary": "Créer un webhook",
        "description": "Crée un webhook. Le secret de signature n'est retourné qu'ici, conservez-le.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le webhook créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}": {
      "get": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "get_webhook",
        "summary": "Récupérer un webhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Le webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "update_webhook",
        "summary": "Modifier un webhook",
        "description": "Seuls les champs envoyés sont modifiés. Réactiver un webhook (`enabled: true`) remet son compteur d'échecs à zéro.\n\nLes utilisateurs ayant la permission `CLIENT_MANAGE` peuvent gérer tous les webhooks de l'entreprise, les autres uniquement les leurs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le webhook modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "delete_webhook",
        "summary": "Supprimer un webhook",
        "description": "Supprime le webhook et son historique d'envois.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}/rotate-secret": {
      "post": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "rotate_webhook_secret",
        "summary": "Renouveler le secret",
        "description": "L'ancien secret cesse immédiatement de fonctionner.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Le webhook avec son nouveau secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}/test": {
      "post": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "test_webhook",
        "summary": "Tester un webhook",
        "description": "Envoie immédiatement un événement `ping` et retourne le résultat de l'envoi.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat de l'envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDelivery"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}/deliveries": {
      "get": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "list_webhook_deliveries",
        "summary": "Historique des envois",
        "description": "Envois des 30 derniers jours, du plus récent au plus ancien.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "success",
                "pending",
                "failed"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Envois.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookDelivery"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}/deliveries/{deliveryId}": {
      "get": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "get_webhook_delivery",
        "summary": "Détail d'un envoi",
        "description": "Contenu envoyé et réponse reçue à chaque tentative.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "L'envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/developers/v1/{clientId}/webhooks/{webhookId}/deliveries/{deliveryId}/retry": {
      "post": {
        "tags": [
          "Gestion des webhooks"
        ],
        "operationId": "retry_webhook_delivery",
        "summary": "Renvoyer un envoi",
        "description": "Renvoie immédiatement l'événement, quel que soit son statut.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "name": "webhookId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deliveryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Résultat de l'envoi.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookDeliveryDetails"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "create_contacts",
        "summary": "Créer",
        "description": "Crée un document `contacts`.\n\nPermission requise : `CONTACTS_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts/search": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "search_contacts",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `contacts`, voir [Recherche](#description/recherche).\n\nPermission requise : `CONTACTS_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contacts"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts/count": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "count_contacts",
        "summary": "Compter",
        "description": "Compte les documents `contacts` correspondant à une recherche.\n\nPermission requise : `CONTACTS_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "get_contacts",
        "summary": "Récupérer",
        "description": "Récupère un document `contacts` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `CONTACTS_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "operationId": "update_contacts",
        "summary": "Modifier",
        "description": "Modifie un document `contacts`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `CONTACTS_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contacts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Contacts"
        ],
        "operationId": "delete_contacts",
        "summary": "Supprimer",
        "description": "Supprime un document `contacts` (suppression logique, il peut être restauré).\n\nPermission requise : `CONTACTS_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts/{id}/restore": {
      "post": {
        "tags": [
          "Contacts"
        ],
        "operationId": "restore_contacts",
        "summary": "Restaurer",
        "description": "Restaure un document `contacts` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `CONTACTS_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/contacts/{id}/history": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "operationId": "history_contacts",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `contacts`.\n\nPermission requise : `CONTACTS_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contacts"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles": {
      "post": {
        "tags": [
          "Articles"
        ],
        "operationId": "create_articles",
        "summary": "Créer",
        "description": "Crée un document `articles`.\n\nPermission requise : `ARTICLES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticlesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Articles"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles/search": {
      "post": {
        "tags": [
          "Articles"
        ],
        "operationId": "search_articles",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `articles`, voir [Recherche](#description/recherche).\n\nPermission requise : `ARTICLES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Articles"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles/count": {
      "post": {
        "tags": [
          "Articles"
        ],
        "operationId": "count_articles",
        "summary": "Compter",
        "description": "Compte les documents `articles` correspondant à une recherche.\n\nPermission requise : `ARTICLES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles/{id}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "operationId": "get_articles",
        "summary": "Récupérer",
        "description": "Récupère un document `articles` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `ARTICLES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Articles"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "operationId": "update_articles",
        "summary": "Modifier",
        "description": "Modifie un document `articles`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `ARTICLES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArticlesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Articles"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Articles"
        ],
        "operationId": "delete_articles",
        "summary": "Supprimer",
        "description": "Supprime un document `articles` (suppression logique, il peut être restauré).\n\nPermission requise : `ARTICLES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles/{id}/restore": {
      "post": {
        "tags": [
          "Articles"
        ],
        "operationId": "restore_articles",
        "summary": "Restaurer",
        "description": "Restaure un document `articles` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `ARTICLES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/articles/{id}/history": {
      "get": {
        "tags": [
          "Articles"
        ],
        "operationId": "history_articles",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `articles`.\n\nPermission requise : `ARTICLES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Articles"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices": {
      "post": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "create_invoices",
        "summary": "Créer",
        "description": "Crée un document `invoices`.\n\nPermission requise : `QUOTES_WRITE | INVOICES_WRITE | SUPPLIER_QUOTES_WRITE | SUPPLIER_INVOICES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices/search": {
      "post": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "search_invoices",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `invoices`, voir [Recherche](#description/recherche).\n\nPermission requise : `QUOTES_READ | INVOICES_READ | SUPPLIER_QUOTES_READ | SUPPLIER_INVOICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoices"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices/count": {
      "post": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "count_invoices",
        "summary": "Compter",
        "description": "Compte les documents `invoices` correspondant à une recherche.\n\nPermission requise : `QUOTES_READ | INVOICES_READ | SUPPLIER_QUOTES_READ | SUPPLIER_INVOICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices/{id}": {
      "get": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "get_invoices",
        "summary": "Récupérer",
        "description": "Récupère un document `invoices` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `QUOTES_READ | INVOICES_READ | SUPPLIER_QUOTES_READ | SUPPLIER_INVOICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "update_invoices",
        "summary": "Modifier",
        "description": "Modifie un document `invoices`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `QUOTES_WRITE | INVOICES_WRITE | SUPPLIER_QUOTES_WRITE | SUPPLIER_INVOICES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoicesInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invoices"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "delete_invoices",
        "summary": "Supprimer",
        "description": "Supprime un document `invoices` (suppression logique, il peut être restauré).\n\nPermission requise : `QUOTES_MANAGE | INVOICES_MANAGE | SUPPLIER_QUOTES_MANAGE | SUPPLIER_INVOICES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices/{id}/restore": {
      "post": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "restore_invoices",
        "summary": "Restaurer",
        "description": "Restaure un document `invoices` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `QUOTES_MANAGE | INVOICES_MANAGE | SUPPLIER_QUOTES_MANAGE | SUPPLIER_INVOICES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/invoices/{id}/history": {
      "get": {
        "tags": [
          "Documents (devis, factures, avoirs)"
        ],
        "operationId": "history_invoices",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `invoices`.\n\nPermission requise : `QUOTES_READ | INVOICES_READ | SUPPLIER_QUOTES_READ | SUPPLIER_INVOICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invoices"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "create_stock_items",
        "summary": "Créer",
        "description": "Crée un document `stock_items`.\n\nPermission requise : `STOCK_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items/search": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "search_stock_items",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `stock_items`, voir [Recherche](#description/recherche).\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StockItems"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items/count": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "count_stock_items",
        "summary": "Compter",
        "description": "Compte les documents `stock_items` correspondant à une recherche.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items/{id}": {
      "get": {
        "tags": [
          "Stock"
        ],
        "operationId": "get_stock_items",
        "summary": "Récupérer",
        "description": "Récupère un document `stock_items` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Stock"
        ],
        "operationId": "update_stock_items",
        "summary": "Modifier",
        "description": "Modifie un document `stock_items`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `STOCK_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Stock"
        ],
        "operationId": "delete_stock_items",
        "summary": "Supprimer",
        "description": "Supprime un document `stock_items` (suppression logique, il peut être restauré).\n\nPermission requise : `STOCK_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items/{id}/restore": {
      "post": {
        "tags": [
          "Stock"
        ],
        "operationId": "restore_stock_items",
        "summary": "Restaurer",
        "description": "Restaure un document `stock_items` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `STOCK_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_items/{id}/history": {
      "get": {
        "tags": [
          "Stock"
        ],
        "operationId": "history_stock_items",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `stock_items`.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StockItems"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations": {
      "post": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "create_stock_locations",
        "summary": "Créer",
        "description": "Crée un document `stock_locations`.\n\nPermission requise : `CLIENT_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockLocationsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLocations"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations/search": {
      "post": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "search_stock_locations",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `stock_locations`, voir [Recherche](#description/recherche).\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StockLocations"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations/count": {
      "post": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "count_stock_locations",
        "summary": "Compter",
        "description": "Compte les documents `stock_locations` correspondant à une recherche.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations/{id}": {
      "get": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "get_stock_locations",
        "summary": "Récupérer",
        "description": "Récupère un document `stock_locations` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLocations"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "update_stock_locations",
        "summary": "Modifier",
        "description": "Modifie un document `stock_locations`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `CLIENT_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StockLocationsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockLocations"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "delete_stock_locations",
        "summary": "Supprimer",
        "description": "Supprime un document `stock_locations` (suppression logique, il peut être restauré).\n\nPermission requise : `CLIENT_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations/{id}/restore": {
      "post": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "restore_stock_locations",
        "summary": "Restaurer",
        "description": "Restaure un document `stock_locations` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `CLIENT_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/stock_locations/{id}/history": {
      "get": {
        "tags": [
          "Emplacements de stock"
        ],
        "operationId": "history_stock_locations",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `stock_locations`.\n\nPermission requise : `STOCK_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StockLocations"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items": {
      "post": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "create_service_items",
        "summary": "Créer",
        "description": "Crée un document `service_items`.\n\nPermission requise : `ONSITE_SERVICES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document créé.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items/search": {
      "post": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "search_service_items",
        "summary": "Rechercher",
        "description": "Recherche paginée parmi les documents `service_items`, voir [Recherche](#description/recherche).\n\nPermission requise : `ONSITE_SERVICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Résultats de la recherche.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "total",
                    "list"
                  ],
                  "properties": {
                    "total": {
                      "type": "integer",
                      "description": "Nombre total de résultats."
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceItems"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items/count": {
      "post": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "count_service_items",
        "summary": "Compter",
        "description": "Compte les documents `service_items` correspondant à une recherche.\n\nPermission requise : `ONSITE_SERVICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nombre de résultats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items/{id}": {
      "get": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "get_service_items",
        "summary": "Récupérer",
        "description": "Récupère un document `service_items` par son identifiant (y compris s'il est supprimé). Une révision passée peut être récupérée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `ONSITE_SERVICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Le document.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "put": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "update_service_items",
        "summary": "Modifier",
        "description": "Modifie un document `service_items`. Seuls les champs envoyés sont modifiés.\n\nPermission requise : `ONSITE_SERVICES_WRITE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceItemsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Le document modifié.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceItems"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "delete_service_items",
        "summary": "Supprimer",
        "description": "Supprime un document `service_items` (suppression logique, il peut être restauré).\n\nPermission requise : `ONSITE_SERVICES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Suppression effectuée.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items/{id}/restore": {
      "post": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "restore_service_items",
        "summary": "Restaurer",
        "description": "Restaure un document `service_items` supprimé, ou une révision passée avec l'identifiant `{id}~{revision}`.\n\nPermission requise : `ONSITE_SERVICES_MANAGE`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Restauration effectuée.",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/api/rest/v1/{clientId}/service_items/{id}/history": {
      "get": {
        "tags": [
          "Services (tâches)"
        ],
        "operationId": "history_service_items",
        "summary": "Historique",
        "description": "Liste les révisions passées d'un document `service_items`.\n\nPermission requise : `ONSITE_SERVICES_READ`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ClientId"
          },
          {
            "$ref": "#/components/parameters/DocumentId"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          },
          {
            "name": "offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Révisions du document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "integer"
                    },
                    "has_more": {
                      "type": "boolean"
                    },
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ServiceItems"
                      }
                    }
                  }
                }
[...]
