
.Dropdown-root {
    position: relative;
  }
  
  .Dropdown-control {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
    padding-right: 24px;
  }
  
  .Dropdown-arrow {
    opacity: 0.5;
    border-color: currentColor transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    content: ' ';
    display: block;
    height: 0;
    margin-top: -ceil(2.5);
    position: absolute;
    right: 8px;
    top: 14px;
    width: 0
  }
  
  .is-open .Dropdown-arrow {
    opacity: 0.5;
    border-color: transparent transparent currentColor;
    border-width: 0 5px 5px;
  }
  
  .Dropdown-menu {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 50vh;
    overflow-y: auto;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1000;
    -webkit-overflow-scrolling: touch;

    min-width: 160px;
    width: auto;
    right: 0;
  }
  
  .dropdown-align-left .Dropdown-menu {
    right: auto;
    left: 0;
  }
  
  .Dropdown-menu .Dropdown-group > .Dropdown-title{
    text-transform: capitalize;
  }
  
  .Dropdown-option {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
  }
  
  .Dropdown-option:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  
  .Dropdown-noresults {
    box-sizing: border-box;
    color: #ccc;
    display: block;
    padding: 8px 10px;
  }