@tailwind base;
@layer base {
    img {
        @apply inline-block;
    }
}
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

.grecaptcha-badge {
    opacity: 0;
}

input, select {
    width: 100%;
}

.fade-in-slow {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}