/* 3D deformation and rotation with perspective */
.animated-background-parent {
  perspective: 404px;
  transform-style: preserve-3d;
}

.animated-background {
  transform: scaleX(2) rotateX(20deg) rotateZ(0deg) translateY(-10%);
}

/* Animate from 10% to 100% opacity and loop */
.animated-line-pulse {
  animation: line-pulse 3s infinite;
}

@keyframes line-pulse {
  0%, 100% {
    opacity: 0.1;
  }
  80% {
    opacity: 1;
  }
}

/* Animate from transform-x -100% to +500%, it should be like a pulse */
.animated-line-move {
  transform: translateX(-100%);
  animation: line-move 10s infinite ease-out;
}

@keyframes line-move {
  0% {
    transform: translateX(-100%);
  }
  20%, 100% {
    transform: translateX(800%);
  }
}