
.lamp {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
  /*background: linear-gradient(to right, #FBE7C650, #B4F8C850, #A0E7E550, #FFAEBC50);*/
  /* Vibrant colors intead, no pastel */
  background: linear-gradient(to right, #FF000080, #FF00FF80, #0000FF80, #00FFFF80);
  animation: colorAnimation 20s ease-in-out infinite;
}

.lava {
  filter: url("#goo");
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blob {
  transform: translateX(-5000%);
  position: absolute;
  border-radius: 50%;
  animation-timing-function: linear;
  animation-fill-mode: forwards; /* Ensures the blob is removed after animation */
}

.move-left {
  animation-name: moveLeft;
}

.move-right {
  animation-name: moveRight;
}

@keyframes moveLeft {
  from { transform: translateX(0vw); } /* Start from the right side of the screen */
  to { transform: translateX(-200vw); } /* End at the left side of the screen */
}

@keyframes moveRight {
  from { transform: translateX(-0vw); } /* Start from the left side of the screen */
  to { transform: translateX(200vw); } /* End at the right side of the screen */
}
