name: deploy-docker

on:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    name: Test
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Install dependencies
        working-directory: ./backend
        run: npm install

      - name: Run linter
        working-directory: ./backend
        run: npm run linter

      - name: Run tests
        working-directory: ./backend
        run: npm run test
  
  build:
    name: Build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Build Docker image frontend
        run: |
          docker build -t ghcr.io/l-inventaire/client/nginx:latest --build-arg SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} frontend -f docker/nginx.Dockerfile

      - name: Build Docker image backend
        run: |
          docker build -t ghcr.io/l-inventaire/client/node:latest --build-arg SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }} backend -f docker/node.Dockerfile

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: RomaricMourgues
          password: ${{ secrets.DOCKER_PASSWORD }}
          registry: ghcr.io

      - name: Push Docker image
        run: |
          docker push ghcr.io/l-inventaire/client/nginx:latest
          docker push ghcr.io/l-inventaire/client/node:latest
